.sidebar {
    position: fixed;
    width: #{$sidebar-lg-width};
    transition: all 0.3s;
    border-right: 1px solid #dee2e6;
    height: 100vh;

    @include media-breakpoint-up("md") {
        z-index: 1;
    }

    @include media-breakpoint-down("md") {
        margin-left: -#{$sidebar-lg-width};
    }

    .toggled & {
        margin-left: -#{$sidebar-lg-width};

        @include media-breakpoint-down("md") {
            z-index: 1040 !important;
            margin: 0;
        }
    }

    &.sidebar-light {
        background-color: $white;
        color: $gray-600;

        .sidebar-brand {
            min-height: 66px;
            border-bottom: 1px solid $gray-300;
            align-items: center;
            padding: 0 1rem;
            justify-content: space-between;
            display: flex;

            .sidebar-button {
                border: 1px solid $gray-300;
                padding: 0.35rem 0.55rem;
                border-radius: 5px;
                background: transparent;
            }
        }

        .sidebar-widgets {
            padding: 1rem;
        }

        .sidebar-body {
            height: calc(100vh - (66px + 64px));
            overflow-y: auto;
            overflow-x: hidden;
        }

        .sidebar-footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            background: $gray-100;
            border-top: 1px solid $gray-300;
            display: flex;
            align-items: center;
            justify-content: space-between;

            a.btn-footer {
                text-decoration: none;
                width: 100%;
                min-height: 64px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $gray-600;
            }
        }
    }
}