.sidebar-light {
    .sidebar-menu {
        flex: 1;
        padding: 1.5rem 1rem;
        list-style: none;
        margin-bottom: 0;
        font-size: 14px;

        >.nav-title {
            position: relative;
            display: block;
            height: 1px;
            background: $gray-300;
            margin: 1rem 0 1.5rem;

            &:not(:first-child) {
                margin-top: 2rem;
            }

            span {
                position: absolute;
                background: $white;
                padding: 0.2rem 0.5rem;
                margin-top: -0.9rem;
                border-radius: 5px;
                margin-left: 1rem;
                border: 1px solid $gray-300;
                font-size: 0.75rem;
            }
        }

        >.nav-item {
            background-color: transparent;
            border-radius: 5px;

            // For active state and opened submenu
            &.active {
                background-color: $gray-100;

                >.nav-link {
                    border: 1px solid $gray-300;
                    border-radius: 5px 5px 0 0;
                }
            }

            // For Static Menu
            >.nav-link {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 5px;
                color: $gray-600;
                transition: all 0.1s;
                border: 1px solid transparent;

                &.active,
                &:active,
                &:focus,
                &.focus,
                &:hover,
                &.hover {
                    background-color: lighten($primary, 35%);
                    color: $primary;
                    border: 1px solid $primary;
                }

                .left {
                    display: flex;
                    justify-content: space-between;
                }
            }

            // Sidebar Submenu
            >.sidebar-container {
                padding: 0;

                >.sidebar-inner {
                    display: flex;
                    flex-direction: column;

                    >.nav-title {
                        font-weight: 500;
                        border-left: 1px solid $gray-300;
                        border-right: 1px solid $gray-300;
                        padding: .75rem 1rem .5rem 1rem;
                        font-size: 16px;
                        margin-bottom: 0;
                    }

                    >.nav-item {
                        &.active {
                            .nav-link {
                                border-left: 2px solid $primary;
                                color: $primary;
                            }
                        }

                        &:last-child {
                            .nav-link {
                                border-bottom: 1px solid $gray-300;
                                border-radius: 0 0 5px 5px;
                            }
                        }

                        .nav-link {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            color: $gray-600;
                            transition: all 0.1s;
                            border-left: 1px solid $gray-300;
                            border-right: 1px solid $gray-300;

                            &.active,
                            &:active,
                            &.hover,
                            &:hover,
                            &:focus,
                            &.focus {
                                color: $primary;
                                padding-left: 1.5rem;
                            }

                            .left {
                                display: flex;
                            }
                        }
                    }
                }
            }
        }
    }
}