section.content-container {
    @include media-breakpoint-up('md') {
        padding-top: 64px;
        margin-left: #{$sidebar-lg-width};
        min-height: 100vh;
        width: calc(100% - #{$sidebar-lg-width});
        transition: all .3s;
    
        .toggled & {
            margin-left: 0 !important;
            width: 100%;
        }
    }
    @include media-breakpoint-down('md') {
        padding-top: 64px;
        margin: 0 !important;
        min-height: 100vh;
        width: 100%;
    }
}